
body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}
div.container{
    display: flex;
    height: 100%;
}
div.sedan{
    width: 220px;
    padding: 10px;
    margin:0;
    background-color: orange;
    text-align: center;
    height: 340px;
  }
  div.SUVs{
    width: 220px;
    padding: 10px;
    margin: 0;
    background-color:#008200;
    text-align: center;
    height: 340px;
  }
  div.luxury{
    width: 220px;
    padding: 10px;
    margin: 0;
    background-color: #000ffe;
    text-align: center;
    height: 340px;
  }
  